@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wpvfhy');
	src:url('fonts/icomoon.eot?#iefixwpvfhy') format('embedded-opentype'),
		url('fonts/icomoon.woff?wpvfhy') format('woff'),
		url('fonts/icomoon.ttf?wpvfhy') format('truetype'),
		url('fonts/icomoon.svg?wpvfhy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import url ('http://fonts.googleapis.com/css?family=Open+Sans:400,800');

.icon-star:before {
	content: "\e600";
	color: #FFBE2C;
	margin-right: 0.2em;
	position: relative;
	top: 0.1em;
}

.icon-manoarriba:before {
	content: "\e601";
	margin-right: 0.1em;
}

.icon-manoabajo:before {
	content: "\e602";
	color: rgb(245, 137, 14);
	margin-left: 0.1em;
	position: relative;
	top: 0.1em;
}

.icon-pencil:before {
	content: "\e604";
	margin-right: 0.5em;
}

a
{
	color: #228CE0;
}
aside
{
	display: none; /*Oculta el video*/
}
body 
{
	background: #EEEEEE; 
	font-family: "Open Sans";
	font-size: 16px;
}

footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
	
}

footer p:first-child
{
	margin-bottom: 0;
}

footer p:last-child
{
	margin-top: 0;
}

footer p:last-child:before
{
	content: "- ";
}

footer p:last-child:after
{
	content: " -";
}

form
{
	padding: 1em;
	text-align: right;
	display: none;/* Oculta el formulario para que por defecto no se vea*/
}

form input 
{
	border: 2px solid #AD80BC;
	border-radius: 5px;
	padding: 0.2em 0.6em;
	
}

form input[type="submit"]
{
	background: #22BCE0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5)5px 5px 20px; 
	color: white;
	font-style: italic;
	padding: 0.2em 0.6em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5)2px 2px 5px; 
	overflow: hidden;
}

form label
{
	color:black;
}

header
{
	background: #343B54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;	
}

header figure
{
	float:left;
}
header #logo

{
	border-right: 1px solid white;

}

header #logo img

{

	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 52px;
	-webkit-transition:.5s; /*Tiempo en que ocurre la transicion*/
	-moz-transition:.5s;

}
header #logo img:hover /*Hover: Evento que ejecuta una accion 
						cuando el mouse se posiciona en la imagen*/

{
	/*Animacion del logo*/
	/*webkit es el prefijo propietario de chrome*/
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(90deg); /*mozilla*/
	-o-transform:rotate(90deg); /*opera*/
	-ms-transform:rotate(90deg); /*IE*/
}


header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 1.5em 70px 0 0;
}

header #Avatar
{
	margin: 1.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top:0;
}

header #Avatar img
{
	border-radius: 50%;
	width: 55px;

}

/*Hacer rotar el avatar*/
@-webkit-keyframes rotater {
0% { -webkit-transform:rotate(0) scale(1) }
50% { -webkit-transform:rotate(360deg) scale(2) }
100% { -webkit-transform:rotate(720deg) scale(1) }
}

@-moz-keyframes rotater {
0% { -moz-transform:rotate(0) scale(1) }
50% { -moz-transform:rotate(360deg) scale(2) }
100% { -moz-transform:rotate(720deg) scale(1) }
}

header #Avatar img:hover
{

	-webkit-animation-name:rotater;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function: ease-out;

	-moz-animation-name:rotater;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count:1;
	-moz-animation-timing-function: ease-out;
}

nav
{
	background: #AD80BC;
	box-shadow: rgba(0,0,0,0.5) 0px 2px 10px;
	margin: 0;
	padding: 0 5em ;
	position: relative;
	text-align: center;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul #publicar_nav
{
	
	position: absolute;
	right: 0;
	top: -0.3em;
}

nav ul #publicar_nav a
{
	background: #22BCE0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5)5px 5px 20px; 
	font-style: italic;
	padding: 0.8em 0.5em 0.8em 2em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5)2px 2px 5px; 
	overflow: hidden;
}
nav ul #publicar_nav a:before
{
	position: absolute;
	left: 0.2em;
	top: 0.8em;
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
}
nav ul #publicar_nav a:hover:before
{
	font-size: 20px;
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	
}


nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0;
}

nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	text-decoration: none;
}

nav ul li a:hover
{
	background: #343B54;
	text-decoration: underline;
}



#contenido
{
	margin:1em;
}

#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

#contenido .item .autor_item
{
	color: #AAA;
}

#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
	
	text-align: right;
}

#contenido .item .datos_item .fecha_item
{
	color: #AAA;
}

#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	float: left;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img 
{
	width: 96px;
}

#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	padding-top: 1em 1em 0 0;
}

#contenido .item .titulo_item a 
{
	color:#444;
	text-decoration: none;
}

#contenido .item .votacion
{
	background-color: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 2.5%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	position: absolute;
	top: 100%;
	width: 95%;
} 

#contenido .item .votacion a 
{
	text-decoration: none;
}
/*#contenido .item .votacion .down
{
	text-decoration: none;
}

#contenido .item .votacion .guardar_item
{
	text-decoration: none;
}

#contenido .item .votacion .up
{
	text-decoration: none;
}
*/
#contenido .item .votacion .comentarios_item
{
	color: black;
}
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float: right;
}

/*media Queries*/
/*@media afecta la pantalla (screen) entre llaves lo que se 
quiere cambiar, entre parentesis le estoy diciendo que afecte 
pantallas desde minimo 800px, de 800 para abajo no hara nada,
de 800 para arriba, cambiará el color de fondo a rojo
@media screen and (min-width: 800px){
	body {
		background: red;
	}

}*/

/*Cada vez que nosotros tomemos un documento de impresion,
va a tomar estos estilos
@media print{
	body{
		font-size: 50px;
	}
}*/

/*Hacer que cuando la pantalla sea muy grande se coloque en
2 columnas*/

@media screen and (min-width: 800px){
	body {
		background: black;
	}
	#contenido
	{
		overflow: hidden;
	}
	#contenido .item
	{
		width: 49%; /*Ancho definido a un 50%*/
		float: left;
	}
	#contenido .item:nth-child(odd) /*nth-child(odd) Toma a los elementos impares*/
	{
		margin-right: 2%;
	}

	form label
	{
		color:white;
	}

	/*#contenido .item:nth-child(even) 
	{
		background: red;
	}
	Testeando para elementos o pseudo clases estructurales pares*/
	

}

/*Muestra el video solo en pantallas de al menos 1000px*/

@media screen and (min-width: 1000px){
	aside {
		display: inline;
		float: right;
		margin:1em;
		width:20%; /*Para variar la dimension del video*/
	}
	aside video{
		width: 100%; /*Para variar la dimension del video*/
	}
}